<?xml version="1.0" encoding="UTF-8"?>
<settings xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.1.0 http://maven.apache.org/xsd/settings-1.1.0.xsd" xmlns="http://maven.apache.org/SETTINGS/1.1.0"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <pluginGroups>
    <pluginGroup>org.sonarsource.scanner.maven</pluginGroup>
  </pluginGroups>
  <localRepository>/opt/maven/repos</localRepository>
  <servers>
    <server>
      <username>admin</username>
	  <password>deviskaifa</password>
      <id>releases</id>
    </server>
    <server>
      <username>admin</username>
	  <password>deviskaifa</password>
      <id>snapshots</id>
    </server>
  </servers>
 <mirrors>
	<mirror>
		<id>gc</id>
		<mirrorOf>*</mirrorOf>
		<name>gc</name>
		<url>http://183.129.215.114:8801/nexus/content/groups/public/</url>
	</mirror>
  </mirrors>
  <profiles>
    <profile>
      <repositories>
        <repository>
          <id>releases</id>
          <name>libs-release</name>
          <url>http://183.129.215.114:8801/nexus/content/repositories/releases</url>
        </repository>
        <repository>
          <snapshots>
            <enabled>true</enabled>
          </snapshots>
          <id>snapshots</id>
          <name>libs-snapshot</name>
          <url>http://183.129.215.114:8801/nexus/content/repositories/snapshots</url>
        </repository>
        <repository>
          <id>pentaho-releases</id>
          <url>http://repository.pentaho.org/artifactory/repo/</url>
        </repository>
        <repository>
          <id>central</id>
          <url>http://repo1.maven.org/maven2/</url>
        </repository>
        <repository>
          <id>opencast-public</id>
          <url>http://nexus.virtuos.uos.de/nexus/content/repositories/public/</url>
        </repository>
      </repositories>
      <pluginRepositories>
        <pluginRepository>
          <id>releases</id>
          <name>plugins-release</name>
          <url>http://183.129.215.114:8801/nexus/content/repositories/releases</url>
        </pluginRepository>
        <pluginRepository>
          <id>snapshots</id>
          <name>plugins-snapshot</name>
          <url>http://183.129.215.114:8801/nexus/content/repositories/snapshots</url>
        </pluginRepository>
      </pluginRepositories>
	  <properties>
			<maven.compiler.source>1.7</maven.compiler.source>
			<maven.compiler.target>1.7</maven.compiler.target>
			<maven.compiler.compilerVersion>1.8</maven.compiler.compilerVersion>
			<!-- Optional URL to server. Default value is http://localhost:9000 -->
                	<sonar.host.url>
                 	 http://192.168.0.38:9000
                	</sonar.host.url>
		</properties>
      <id>nexus</id>
    </profile>
  </profiles>
  <activeProfiles>
    <activeProfile>nexus</activeProfile>
  </activeProfiles>
</settings>
